<h1>Available Registrants</h1>
<% if @registrants.present? %>
  <table>
    <tr>
      <th>Email</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @registrants.each do |registrant| %>
      <tr>
        <td><%= registrant.email %></td>
        <td><%= registrant.personal_data.cell_phone if registrant.personal_data.present? %></td>
        <td><%= registrant.status.title %></td>
        <td><%= link_to "Schedule job",schedule_jobs_path(:id => registrant.id ) %></td>
      </tr>
    <%end%>
  </table>
<%end%>