<br /><%= link_to "Create New Job", new_jobs_path %>
<h1>Jobs</h1>
<div id="list">
  <%= render :partial => "/jobs/list", :locals => {:jobs => @jobs} %>
</div>
<div id="calendar"></div>
<div id="details" style="display:none;padding: 10px;z-index: 9999;border: 1px solid black;background: white;position: fixed;top: 200px;left: 300px;width: 300px;height: auto;"></div>
<script type='text/javascript'>

  $(document).ready(function() {

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
      editable: true,
      events: "/jobs/list/",
      eventClick: function(calEvent, jsEvent, view) {
        $.ajax({
          url: "/jobs/details/"+calEvent.id,
          type: 'GET',
          data: $(this).serialize(),
          dataType: 'json',
          success: function(response) {
            if(response.success === true) {
              $("#details").show();
              $("#details").html(response.html)
            }
          }
        });
      },
      eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
        if (confirm("Are you sure about this change?")) {
          $.ajax({
            url: "/jobs/update_job/"+event.id+"/"+dayDelta+"/date",
            type: 'GET',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              if(response.success === true) {
                $("#list").html(response.html)
              }
            }
          });
        }else{
          revertFunc.call();
        }
      },
      eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
        if (confirm("is this okay?")) {
          $.ajax({
            url: "/jobs/update_job/"+event.id+"/"+dayDelta+"/hours",
            type: 'GET',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              if(response.success === true) {
                $("#list").html(response.html)
              }
            }
          });
        }else{
          revertFunc();
        }
      }
    });
  });


</script>
<style type='text/css'>
  #calendar {
    width: 900px;
  }

</style>