<h1><%= link_to "DUNAMIS TRAINING", "/"%></h1>
<% if logged_in? %>
  <%= link_to "Sign Out", logout_path %>
<%else%>
  <%= link_to "Sign In", login_path %> | <%= link_to "Sign Up", signup_path %>
<%end%>
