<h1>Configurations</h1>
<%= link_to "Occupation Types", occupations_home_index_path  %>: Configure different Occupation types for registrants <br /> <br />
<%= link_to "Contract Types", contracts_home_index_path  %>: Configure different Contract types for registrants <br /> <br />
<%= link_to "Facility Types", facilities_home_index_path  %>: Configure different Facility types for clients <br /> <br />
<%= link_to "Pay Types", pays_home_index_path  %>: Configure different Pay types for registrants and Clients <br /> <br />
