<h2>Timesheet Images</h2>
<table>
<%unless @timesheet.blank? %>
<% unless @timesheet.timesheet_images.blank? %>
  <% @timesheet.timesheet_images.each do |img| %>
  <tr style="cursor: pointer;" onclick="load_selected_image('<%=img.id%>')" >
   <td> 
     <%#= image_tag(img.image.url(:thumb) )%>
   </td>

   <td> <%= img.image_file_name%>
   </td>
    <td> <%= img.image_updated_at%>
   </td>
    </tr>
  
  <%end%>
<%end%>
<%end%>
     </table>