<h2>Timesheet Images</h2>
<table>
<%unless @timesheet.blank? %>
<% unless @timesheet.timesheet_images.blank? %>
  <% @timesheet.timesheet_images.each do |img| %>
  <tr onclick="load_selected_image('<%=img.id%>')" >
   <td> <%= image_tag(img.image.url(:thumb) )%></td>
    
    </tr>
  
  <%end%>
<%end%>
<%end%>
     </table>