<h1>Organizations Reports</h1>
Organization:
<select name="organization_id" id="organization_id" >
  <option value=0">Select Organization</option>
  <% @organizations.each do |org| %>
    <option value="<%= org.id %>"><%= org.name %></option>
  <%end%>
</select>
<div id="report">
  <%= render :partial  => "/organizations/report" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#organization_id").change(function(){
      $.ajax({
        url: "/organizations/history/"+$(this).val(),
        type: 'GET',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(response) {
          if(response.success === true) {
            $("#report").html(response.html)
          }
        }
      });
      return false;
    });
  });
</script>